@model List<VKR.Models.Entities.Addressee>
@{
    ViewBag.Title = "Список адресатов";
}

@{
    ViewBag.BodyClass = "weather-station";
}

<div class="name-with-button">
    <h2 class="subname">Список адресатов</h2>

    <button class="add" onclick="location.href='@Url.Action("CreateAddressee", "Read")'">
        <span class="add-img"></span>
        <span class="but-text">Добавить адресата</span>
    </button>
</div>

<table>
    <thead>
        <tr class="trHead">
            @*<th>Номер</th>*@
            <th>Имя</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr class="text-center">
                @*<td>@person.ID</td>*@
                <td>@person.Name</td>
                <td>
                    <div class="actions">
                        <a href="@Url.Action("EditAddressee", "Read", new { idToEdit = person.ID })" class="action-edit" title="Редактировать"></a>
                        <a href="@Url.Action("DeleteAddressee", "Read", new { idToDelete = person.ID })" class="action-delete" title="Удалить"></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>