@model VKR.Models.ViewModels.PhoneNumbersVM

@{
    ViewBag.Title = "Удаление номера";
}

@{
    ViewBag.BodyClass = "crud-basic";
}

<div class="name-with-button-alt">
    <h2 class="subname">Удаление номера</h2>

    <button class="add" onclick="location.href='@Url.Action("Show", "Read")'">
        <span class="but-text">Отмена</span>
    </button>
</div>

<h3>Вы уверены, что хотите удалить этот номер?</h3>
<div class="crud-selectors">
    <div class="label-data">
        @Html.DisplayNameFor(model => model.Name):
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="label-data">
        @Html.DisplayNameFor(model => model.Number):
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="label-data">
        @Html.DisplayNameFor(model => model.Note):
        @Html.DisplayFor(model => model.Note)
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.phone_ID)
        @Html.HiddenFor(model => model.addressee_ID)

        <div class="label-data">
            <button class="crud-button" type="submit">
                <span class="but-text">Удалить</span>
            </button>
        </div>
    }
</div>
