@model VKR.Models.Entities.Addressee

@{
    ViewBag.Title = "Удаление адресата";
}

@{
    ViewBag.BodyClass = "crud-basic";
}

<div class="name-with-button-alt">
    <h2 class="subname">Удаление адресата</h2>

    <button class="add" onclick="location.href='@Url.Action("ListOfAddressees", "Read")'">
        <span class="but-text">Отмена</span>
    </button>
</div>

<h3>Вы уверены, что хотите удалить этого адресата? Номера телефона, принадлежищие этому адресату тоже будут удалены. Отменить это действие невозможно!</h3>
<div class="crud-selectors">
    <div class="label-data">
        @Html.DisplayNameFor(model => model.Name):
        @Html.DisplayFor(model => model.Name)
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)

        <div class="label-data">
            <button class="crud-button" type="submit">
                <span class="but-text">Удалить</span>
            </button>
        </div>
    }
</div>
