@model VKR.Models.ViewModels.PhoneNumbersVM

@{
    ViewBag.Title = "Изменение номера телефона";
}

@{
    ViewBag.BodyClass = "crud-basic";
}

<div class="name-with-button-alt">
    <h2 class="subname">Изменение номера телефона</h2>

    <button class="add" onclick="location.href='@Url.Action("Show", "Read")'">
        <span class="but-text">Отмена</span>
    </button>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="crud-selectors">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="label-data">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.addressee_ID)
        @Html.HiddenFor(model => model.phone_ID)

        <div class="label-data">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="label-data">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="label-data">
            <button class="crud-button" type="submit">
                <span class="but-text">Сохранить</span>
            </button>
        </div>
    </div>
}
