@model VKR.Models.ViewModels.UserVM
@{
    ViewBag.Title = "Вход";
    ViewBag.HideHeader = true; // скрывать _Header для этой страницы
}

<div class="login-form">
    @using (Html.BeginForm())
    {
    <form class="upper">
        <h2>Авторизация</h2>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "")
        <div class="inps">
            <div>
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "inp", placeholder = "Логин" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "inp", type = "password", placeholder = "Пароль" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <button class="add" type="submit">
            <span class="but-text">Войти</span>
        </button>
    </form>
    }
</div>

